@import './scss/variables.scss';
@import './scss/home/header.scss';
@import './scss/home/take-tour.scss';
@import './scss/home/schedule.scss';
@import './scss/home/about-us.scss';
@import './scss/home/rooms.scss';
@import './scss/home/intro-video.scss';
@import './scss/home/features.scss';
@import './scss/home/food.scss';
@import './scss/home/stadistics.scss';

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    min-width: 320px;
}