@import '../variables.scss';

.features__section{
    width: 90%;
    margin: auto;
    background-color: $background-white;
    max-width: 320px;
    padding-bottom: 80px;
}

.features__section-info{
    padding-top: 30px;
    h2{
        text-align: center;
        font-family: $archivo-font;
        font-size: 14px;
        font-weight: $weight-700;
        line-height: 15.23px;
        letter-spacing: 2.8px;
        color: $letterColor-grey-light;
    }
    h1{
        text-align: center;
        margin-top: 30px;
        font-family: $old-standard-font;
        font-size: 48px;
        font-weight: $weight-400;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: $background-black;
    }
}

//SLIDER CARDS
.features__section-cards-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}

.cards-container {
    display: flex;
    transition: transform 0.3s ease;
}

.card {
    flex: 0 0 300px;
    flex-direction: column;
    max-width: 300px;
    background-color: #f2f2f2;
    margin: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 7px;
    transition-property: scale();
    transition-duration: 0.5s;
}
.card:hover{
    scale: 1.05;
}
.card-img{
    margin-top: 45px;
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6{
    padding: 15px 15px 0 15px;
    h1{
        margin-top: 30px;
        font-family: $old-standard-font;
        font-size: 30px;
        font-weight: $weight-400;
        line-height: 30px;
        letter-spacing: -0.9px;
        color: $background-black;
        text-align: center;
    }
    p{
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: $archivo-font;
        font-size: 14px;
        font-weight: $weight-400;
        line-height: 24px;
        color: $letterColor-grey-light;
    }
    span{
        position: absolute;
        top: 0;
        right: 25px;
        font-family: $archivo-font;
        font-size: 95px;
        font-weight: $weight-700;
        line-height: 130px;
        color: rgb(119 119 119 / 15%);
    }
}

.prev-btn1,
.next-btn1 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;

}

.next-btn1 {
    right: 0;
}

@media only screen and (min-width: 1000px){
    .features__section{
        width: 100%;
        max-width: 100%;
        background-color: #f2f2f2;
    }
    .features__section-cards-container{
        overflow: visible;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .card {
        max-width: 300px;
        margin: 0;
        background-color: $background-white;
    }
    .prev-btn1,
    .next-btn1{
        display: none;
    }
}