@import '../variables.scss';

.schedule__section{
    width: 100%;
    background-color: $background-black;
    display: flex;
    flex-direction: column;
}
.schedule__section-calendar{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: self-start;
    margin: auto;
    justify-content: center;
    height: auto;
    max-width: 320px;
    padding-top: 20px;
}
.input__container__arrival{
    label{
        color: $background-white;
        font-size: 16px;
        font-family: $roboto-font;
        font-weight: $weight-700;
        line-height: 18.75px;
    }
}
.input__container__arrival-date{
    margin: 7px 0 7px 0;
} 
.input__container__arrival-date input[type="date"]{
    display: flex;
    padding-bottom: 10px;
    flex-direction: row-reverse;
    background: transparent;
    color: $letterColor-grey;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: $color-botton;
    width: 290px;
}
.input__container__departure{
    label{
        color: #FFFFFF;
        font-size: 16px;
        font-family: $roboto-font;
        font-weight: $weight-700;
        line-height: 18.75px;
    }
}
.input__container__departure input[type="date"]{
    display: flex;
    flex-direction: row-reverse;
    margin: 7px 0 7px 0;
    background-color: transparent;
    background: url('../../img/img-search.png');
    background-size: 5px 5px;
    background-repeat: repeat;
    background-position: 90%;
    color: #686868;
    padding-bottom: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: $color-botton;
    width: 290px;

}
.input__container__departure input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}
.schedule__section-button{
    max-width: 320px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
}
.schedule__section-button button{
    width: 250px;
    height: 60px;
    background-color: $color-botton;
    color: $background-white;
    border: none;
    font-size: 14px;
    font-family: $archivo-font;
    font-weight: $weight-700;
    line-height: 15.23px;
    letter-spacing: 2.8px;
}
@media only screen and (min-width: 1000px){
    .schedule__section{
        display: flex;
        flex-direction: row;
    }
    .schedule__section-calendar{
        flex-direction: row;
        width: 70%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 0;
        max-width: none;
        justify-content: space-evenly;
    }
}