@import '../variables.scss';

.schedule__section{
    width: 100%;
    background-color: $background-black;
    display: flex;
    flex-direction: column;
}
.schedule__section-calendar{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: self-start;
    margin: auto;
    justify-content: center;
    height: auto;
    max-width: 600px;
    padding-top: 20px;
}
.input__container__arrival{
    label{
        color: $background-white;
        font-size: 16px;
        font-family: $roboto-font;
        font-weight: $weight-700;
        line-height: 18.75px;
    }
}
.input-calendar-container{
    margin: 7px 0 7px 0;
} 
.input-calendar{
    position: relative;
    display: flex;
    padding-bottom: 7px;
    flex-direction: row-reverse;
    background-color: transparent;
    color: #b3a5a5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: $color-botton;
    width: 290px;
    padding-left: 30px;
}

.input-calendar[type="date"]::-webkit-calendar-picker-indicator{
    // background-image: url("../../img/home/icon-calendar.png") no-repeat center;
    background-size: 20px 20px;
    height: 20px;
    width: 100%;
    background-position-x: 1%;
    position: absolute;
    cursor: pointer;
    color: red;
    filter: saturate(0.1);
}

.input__container__departure{
    label{
        color: #FFFFFF;
        font-size: 16px;
        font-family: $roboto-font;
        font-weight: $weight-700;
        line-height: 18.75px;
    }
}

.schedule__section-button{
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.02);
    }
}
.schedule__section-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: $color-botton;
    color: $background-white;
    border: none;
    font-size: 14px;
    font-family: $archivo-font;
    font-weight: $weight-700;
    line-height: 15.23px;
    letter-spacing: 2.8px;
    text-decoration: none;
}
@media only screen and (min-width: 1000px){
    .schedule__section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .schedule__section-calendar{
        flex-direction: row;
        width: 776px;
        padding-top: 0;
        max-width: none;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }
    .schedule__section-button{
        width: 300px;
        margin: 0;
        max-width: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .input-calendar-container{
        margin: 0;
    }
    .input-calendar{
        padding-top: 5px;
    }

}