@import '../variables.scss';

.room__detail-title{
    h1{
        font-family: $old-standard-font;
        font-weight: $weight-400;
        font-size: 30px;
        line-height: 30px;
        color: $background-black;
        margin: 15px 4px;
    }
}
.room__detail-line{
    background-color: #F1F1F1;
    max-width: 320px;
    height: 3px;
}

.room__detail-related-rooms{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: $background-white;
    margin-top: 50px;
    max-width: 320px;
}

.room__detail-slider-container{
    position: relative;
    // max-width: 900px;
    overflow: hidden;
    margin-top: 0px;
}
.room__detail-cards-container{
    display: flex;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}
.room__detail-rooms-slider{
    margin-top: 33px;
    flex: 0 0 320px;
    flex-direction: column;
    max-width: 320px;
    // margin: 8px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 7px;
    h3{
        font-family: $old-standard-font;
        font-weight: $weight-400;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.72px;
        color: $background-black;
        text-align: center;
        margin-top: 15px;
    }
    p{
        font-family: $roboto-font;
        font-weight: $weight-400;
        font-size: 14px;
        line-height: 24px;
        color: $letterColor-grey-light;
        text-align: center;
        margin: 13px 0px;
    }
    img{
        max-width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }   
}

.room__detail-grid-price{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    span{
        font-family: $archivo-font;
        font-weight: $weight-700;
        font-size: 16px;
        line-height: 17.41px;
        color: $color-botton;
    }
    button{
        font-family: $archivo-font;
        font-weight: $weight-700;
        font-size: 16px;
        line-height: 17.41px;
        color: #BDBDBD;
        border: none;
        background: transparent;
    }
}
.room__detail-section-amenities{
    width: 256px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid $color-botton;
    background-color: white;
    margin: auto;
    margin-top: -24px;
    z-index: 1;
    position: relative;
}


.prev-btn-detail{
    position: absolute;
    top: 30%;
    left: -2%;
    border: none;
    background-color: white;
}
.next-btn-detail{
    position: absolute;
    top: 30%;
    left: 90%;
    border: none;
    background-color: $color-botton;
}

@media only screen and (min-width: 1000px){

}